/* Cambiar el color del fondo */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Estilos para la sección de inicio de sesión */
.inicio-sec {
    display: none;
    width: 90%;
    max-width: 1000px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para el lado izquierdo */
.left-side {
    background-color: #4CAF50;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para el lado derecho */
.right-side {
    background-color: #333;
    color: white;
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    max-width: 100%;
    height: auto;
}

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-btn {
    background-color: #4CAF50;
    color: white;
    margin-bottom: 10px;
}

.register-btn {
    background-color: #f44336;
    color: white;
}

/* Estilos para la sección de registro */
.registro-sec {
    display: none;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centrar el contenido */
}

.registro-sec h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.registro-sec form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.registro-sec label {
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
    width: 100%;
    max-width: 400px;
    text-align: left;
}

.registro-sec input[type="text"],
.registro-sec input[type="email"],
.registro-sec input[type="password"],
.registro-sec input[type="file"] {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    font-size: 16px;
}

.registro-sec input[type="file"] {
    padding: 5px;
}

.registro-sec .image-preview {
    margin-top: 10px;
    width: 150px;
    height: 150px;
    text-align: center;
    border-radius: 50%; /* Hacer el contenedor circular */
    overflow: hidden; /* Asegurar que la imagen no se salga del contenedor */
    border: 1px solid #ccc;
    margin-bottom: 20px; /* Añadir margen inferior para separar del botón */
}

.registro-sec .image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegurar que la imagen se ajuste al contenedor */
}

.registro-sec button.submit-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    width: 100%;
    max-width: 400px;
    margin-top: 20px; /* Añadir margen superior para separar del resto del formulario */
}

.registro-sec button.submit-btn:hover {
    background-color: #45a049;
}

/* Estilos para la sección web */
.web-sec {
    display: none;
    width: 90%;
    max-width: 1200px;
    height: 600px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para el lado izquierdo de la sección web */
.web-left-side {
    background-color: #333;
    color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.web-left-side .web-imagen {
    background-color: #fff;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 60px;
    border: 2px solid #ddd;
}

.web-left-side .web-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.web-left-side button {
    margin-bottom: 30px;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s;
}

.perfil-btn, .aportaciones-btn, .casilleros-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
}

.perfil-btn:hover, .aportaciones-btn:hover, .casilleros-btn:hover {
    background-color: #45a049;
}

.logout-btn {
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f44336;
}

.logout-btn:hover {
    background-color: #d32f2f;
}


/* Estilos para el lado derecho de la sección web */
.web-right-side {
    background-color: #fff;
    flex: 3;
    padding: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


/* Ocultar secciones adicionales en el lado derecho */
.aportaciones-sec {
    display: none;
}

.casilleros-sec {
    display: none;
}

.perfil-sec {
    display: none;
}


/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para la barra de notificación */
.notification-bar {
    display: none;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50; /* Verde */
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.notification-bar.success {
    background-color: #4CAF50; /* Verde */
}

.notification-bar.error {
    background-color: #f44336; /* Rojo */
}
